<html>
<head><script src="/static/js/hello.js?v=1.1"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/bootstrap.js"></script>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<script src="/static/js/jquery-3.3.1.js"></script>

</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      {% if name=="anonymous" %}
	<div class="navbar-brand">Try to login</div>
      {%else%}
	<font color="blue" class="mr-auto link">{{name}}</font>
        <a class="btn btn-primary" href="/logout">Logout</a>
	{%endif%}
   </nav>
      {% if name=="anonymous" %}
	 <form action = "login" method = "post">
         <p>Enter Name:</p>
         <p><input type = "text" name = "nm" /></p>
         <p><input type = "submit" value = "submit" /></p>
	</form>	
        {% endif %}   

</body>
</html>
